{% extends "base.html" %}

{% block body %}
<div class="document">
  <div class="documentwrapper">
    <div class="contentwrapper">
      <main class="content">
        {{ content | safe }}
      </main>

      <footer>
	      Copyright © 2000-2021
	      <a href="mailto:clay@daemons.net">Clay McClure</a>.
	      Made with <a href="https://claymation.github.io/void/">void</a>.
      </footer>
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebarwrapper">
      <a href="/"><img src="/static/images/tuxdemon.png" width=160 height=160 alt="Tux (the Linux penguin) with daemon horns"></a>
    </div>
  </div>
</div>
{% endblock %}
