{% extends "base.html" %}

{% block body %}
<div class="document">
  <div class="documentwrapper">
    <div class="contentwrapper">
      <main class="content">
        {{ content | safe }}
      </main>
      {#
      <section class="toc">
        <h2>Table of Contents</h2>
        {% set last_level = [0] %}
        {% for level, title, href in headings %}
          {% if level > last_level[0] %}
            <ul><li>
          {% elif level < last_level[0] %}
            </li></ul><li>
          {% else %}
            </li><li>
          {% endif %}
          <a href="{{ href }}">{{ title }}</a>
          {% do last_level.clear() %}
          {% do last_level.append(level) %}
        {% endfor %}
        {% for _ in range(last_level[0]) %}
          </li></ul>
        {% endfor %}
      </section>
      #}
      <footer>
        Copyright © 2018-2019 Clay McClure. Made with <a href="https://claymation.github.io/void/">void</a>.
      </footer>
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebarwrapper">
      <a href="/"><img src="/static/images/tuxdemon.png" width=160 height=160 alt="Tux (the Linux penguin) with daemon horns"></a>
    </div>
  </div>
</div>
{% endblock %}
