html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #3e4349;
  font: 1.6rem 'Lato', serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

pre {
  background: #fafafa;
  color: #383a42;
  overflow-x: auto;
  margin: 1em -0.5em;
  padding: 0.5em;
  line-height: 1;
}

code {
  background: #fafafa;
  color: #383a42;
  font: 1.5rem Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  line-height: 1;
}

code.hljs {
  padding: 0 !important;
}

blockquote {
  background: #fafafa;
  border-left: solid .5rem #4078f2;
  margin: 0;
  padding: 0 2rem;
}

.document {
  width: 94rem;
  margin: 3rem auto 0 auto;
}

.documentwrapper {
  float: left;
  width: 100%;
}

.contentwrapper {
  margin: 0 0 0 22rem;
}

.content {
  margin-bottom: 3rem;
  padding: 0 3rem;
}

.sidebar {
  float: left;
  font-size: 1.4rem;
  margin-left: -100%;
  width: 22rem;
}

.sidebarwrapper {
  padding: 1.8rem 1rem;
}

.toc ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.toc ul ul {
  margin: 0 0 0 2rem;
  list-style: square;
}

.toc a {
  border-bottom: 1px dotted #999;
  color: #444;
  text-decoration: none;
}

footer {
  border-top: solid 1px #eee;
  color: #999;
  padding: 1.5rem 0;
  text-align: center;
}
